/* VARIABLES */


/* GENERAL STYLES */

body {
    background-color: var(--BGCOLOR);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
}

/* BLOCKS */

.main {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

/* ELEMENTS */

/* MODIFIERS */
